{% extends "admin/adminBase.html" %} {% block title %}
<title>Create Teacher</title>
{% endblock title %} {% block content %}
<!-- Main Content -->
<div class="main-content">
  <h2 class="text-center mt-4">Create Teacher</h2>

  <!-- Button to trigger modal (right-aligned with plus icon) -->
  <button
    type="button"
    class="btn btn-success position-fixed top-15 end-0 m-4"
    data-bs-toggle="modal"
    data-bs-target="#createExamModal"
  >
    <i class="bi bi-plus-circle"></i> Create Teacher
  </button>

  <!-- Modal Structure -->
  <div
    class="modal fade"
    id="createExamModal"
    tabindex="-1"
    aria-labelledby="createExamModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createExamModalLabel">Create Teacher</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <!-- Exam Creation Form inside Modal -->
          <form method="post" action={% url 'teacher_post' %} class="mt-4">
            {% csrf_token %}
            <div class="mb-3">{{ form.as_p }}</div>
            <button type="submit" class="btn btn-primary w-100">
              Register
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Exams List -->
  <h3 class="mt-5">Teachers List</h3>
  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Teacher Name</th>
        <th>Email</th>
        <th>Contact Details</th>
        <th>Specialization</th>
      </tr>
    </thead>
    <tbody>
      {% for get in teachers %}
      <tr>
        <td>{{ get.first_name }} {{ get.last_name }}</td>
        <td>{{ get.email }}</td>
        <td>{{ get.phone_no }}</td>
        <td>{{ get.specialization }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
